/****************************
	CSS RESET
*****************************/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

footer {
    text-align: center;
    padding: 40px;
    color: #686868
}


/****************************
	Global Styling
*****************************/

* {
    font-family: calibri, arial
}

body {
    width: 100%;
    height: 100vh;
    background-color: #E5E5E5;
}

main {
    width: 100%;
    max-width: 626px;
    margin: 0 auto;
}

header {
    width: 100%;
    margin: 48px auto;
}

.logo_block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-steps {
    display: block;
    width: 100%;
    position: relative;
    margin: 40px 0;
}

.form-steps:after {
    content: "";
    display: table;
    clear: both;
}

.form-steps__item {
    padding: 0;
    position: relative;
    display: block;
    float: left;
    width: 20%;
    text-align: center;
}

.form-steps__item-content {
    display: inline-block;
}


/* .form-steps__item-icon {
    background: #e4e5e5;
    color: #8191ab;
    display: block;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgb(129, 145, 171) !important;
    text-align: center;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto 10px auto;
    position: relative;
    font-size: 13px;
    font-weight: 700;
    z-index: 2;
} */

.form-steps__item-text {
    font-size: 13px;
    color: #8191ab;
    font-weight: 500;
}

.form-steps__item-line {
    display: inline-block;
    height: 3px;
    width: 100%;
    background: #cfd8dc;
    position: absolute;
    left: -50%;
    top: 12px;
    z-index: 1;
}


/* .form-steps__item--active .form-steps__item-icon {
    background: #00aeef;
    color: #ffffff;
} */

.form-steps__item--active .form-steps__item-line {
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
}

.form-steps__item--active .form-steps__item-icon {
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

.form-steps__item--completed .form-steps__item-text {
    color: #4f5e77;
}

.form-steps__item--active .form-steps__item-text {
    color: #4f5e77;
}

.form-steps__item--active .form-steps__item-line {
    background: #00aeef;
}

.form-steps__item--completed .form-steps__item-icon {
    background: #00aeef;
    color: #fff;
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.form-steps__item--completed .form-steps__item-line {
    background: #00aeef;
}

.container {
    border: 1px solid #dddddd;
    background: #fff;
    border-radius: 4px;
    /* width: 100%; */
    padding: 40px;
    max-width: 626px;
    height: 100%;
    margin: auto;
    position: relative;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.17);
}

.step {
    display: flex;
    flex-direction: column;
}

.step input {
    width: 100%;
    max-width: 546px;
    height: 50px;
    padding: 12px 16px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #666B6E;
    background: #F5FAFE;
    border: 1px solid #666B6E;
    box-sizing: border-box;
}

input[type="text"] {
    /* z-index: 1;
    font-size: .8em;
    margin-top: 10px;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2em;
    padding: .5em;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-radius: .28571429rem;
    -webkit-box-shadow: none;
    box-shadow: none; */
}

input[type="text"]:focus {
    border-color: #85b7d9;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="button"] {
    box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
    font-size: 1rem;
    cursor: pointer;
    min-height: 1em;
    outline: 0;
    border: none;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, .6);
    margin: 0 .25em 0 0;
    padding: .788em 1.5em .788em;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    border-radius: .285rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
    background: #F5FAFE;
}

input.error,
input[type="text"].error:focus {
    background-color: #fff6f6;
    border-color: #e0b4b4;
    color: #9f3a38;
}

p.error-text {
    position: absolute;
    bottom: -23px;
    left: 24px;
    color: rgba(255, 0, 0, .7);
    font-size: .6em;
}

#raq_next {
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

#raq_next.submit {
    background-color: #21ba45;
}

#raq_back.disabled {
    color: #bbbbbb;
    cursor: unset;
}

.question-container {
    display: none;
}

.active_panel {
    display: block;
}

.question-container {
    position: relative;
    font-weight: 500;
    font-size: 1.2rem;
    color: #434343;
    line-height: 30px;
    margin: 40px 0 0 0;
}

.button-bar {
    position: relative;
    margin: 24px auto 48px auto;
}

.tick {
    position: absolute;
    top: 5px;
    left: 50px;
    box-shadow: inset 3px -3px 0 green;
    height: 8px;
    transform: rotate(-50deg);
    width: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.question-title p:first-child {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;
    color: #000000;
}

.question-title p:nth-child(2) {
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 16px;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}


/****************************
	Thank You Box
*****************************/

.thankyou {
    margin: auto;
    width: 260px;
    height: 160px;
    margin-top: 190px;
    background: #fff;
    padding: 15px 20px;
    line-height: 25px;
    border-radius: 4px;
    text-align: center;
    box-shadow: -1px 5px 32px 7px rgba(0, 0, 0, 0.5);
}

.thankyou input {
    margin-top: 40px;
}

.thankyou h3 {
    font-size: 3em;
    font-weight: 700;
    color: #21ba45;
    line-height: 50px;
}